@import "../base.scss";

$article-title-color: #505050;
// 文章
.cm-article {
  padding: 12px 22px;
  border-bottom: solid #ececec 1px;

  .card-content {
    padding: 0;
  }
  &-face {
    outline-style: none;
    img {
      display: block;
      width: 100%;
      max-width: 50px;
    }
  }
  &-title {
    color: $article-title-color;
    &:hover {
      color: lighten($article-title-color, 15%);
    }
  }
  &-info {
    font-size: 14px;
    color: lighten($article-title-color, 35%);
    a {
      text-decoration: underline;
      color: lighten($article-title-color, 15%);
    }
  }
  &-rm {
    padding: 0 0 0 0.75rem;
    span {
      font-size: 12px;
      background: lighten($elixir-color, 53%);
      color: white;
      padding: 2px 5px;
      border-radius: 12px;
      width: 30px;
      display: inline-block;
    }
  }
}
