@import "../base.scss";

// 文章
.cm-article {
  padding: 12px 22px;
  border-bottom: solid #ececec 1px;

  .card-content {
    padding: 0;
  }
  &-face {
    outline-style: none;
    img {
      display: block;
      width: 100%;
      max-width: 50px;
    }
  }
  &-title {
    color: #000000;
  }
  &-info {
    font-size: 14px;
    color: #7a7a73;
    a {
      text-decoration: underline;
      color: #50504c;
    }
  }
  &-rm {
    font-size: 12px;
    background: #86B9F7;
    color: white;
    padding: 2px 5px;
    border-radius: 12px;
    width: 30px;
    display: inline-block;
  }
}
