/* This file is for your main application css. */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "../node_modules/bulma/css/bulma.min.css";

@media screen and (min-width: 1024px) {
  .cm-page > .section {
    padding: 1.5rem 0;
  }
}
@media screen and (max-width: 960px) {
  .cm-page > .section {
    padding: 1.5rem 0.75rem;
  }
}

.cm-category .cm-category-icon {
  font-size: 50px;
}
.cm-category .cm-category-link {
  color: #64645e;
  font-weight: bold;
}
.cm-articles .cm-article .card-content {
  padding: 0;
}
.cm-articles .card-header-title a {
  color: #a9a7a6;
  text-decoration: underline;
}
.cm-articles .cm-article {
  border-bottom: 1px solid #fff;
  padding: 12px 22px;
}
.cm-articles .cm-article-face {
  outline-style: none;
}
.cm-articles .cm-article-face img {
  display: block;
  width: 100%;
}
.cm-articles .cm-article-title {
  color: #000000;
}
.cm-articles .cm-article-info {
  font-size: 14px;
  color: #7a7a73;
}
.cm-articles .cm-article-info a {
  text-decoration: underline;
  color: #50504c;
}
.cm-articles .cm-article .cm-article-rm {
  font-size: 12px;
  background: #7cdbe5;
  color: white;
  padding: 2px 5px;
  border-radius: 12px;
  width: 30px;
  display: inline-block;
}
.cm-note-group .cm-note-groups > .column {
  padding: 4px 10px 4px 0;
}
.cm-note-group .card-header-title {
  color: #a9a7a6;
}
.cm-note-group .cm-note-group-name {
  color: #a8aaa8;
}
.cm-note-group .cm-note-name {
  color: #3e3e3e;
}
.cm-note-group .cm-note {
  display: inline-block;
  width: 105px;
  margin-bottom: 10px;
}
.cm-note-group .cm-note-name:hover {
  text-decoration: underline;
}
