<!DOCTYPE html>
<html  class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Elixir China</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <nav
        class="navbar has-shadow is-fixed-top cm-nav"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="container">
          <div class="navbar-brand">
              <%= live_link to: Routes.live_path(@conn, CommunityWeb.IndexLive),
                            class: "navbar-item cm-nav-logo" do %>
                <img src="/images/elixir-china.png">
              <% end %>

            <a
              role="button"
              class="navbar-burger burger"
              aria-rabel="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <%= live_link "主题", 
                  class: "navbar-item", 
                  to: Routes.live_path(@conn, CommunityWeb.TopicsLive)
              %>
              <a class="navbar-item">
                <span>
                  招聘
                </span>
              </a>

              <a
                class="navbar-item"
              >
                <span>
                  翻译
                </span>
              </a>

              <a
                class="navbar-item"
              >
                <span>
                  项目
                </span>
              </a>
            </div>

            <div class="navbar-end">
              <a
                class="navbar-item"
                href="https://github.com/elixirchina/community"
                target="_blank"
              >
                <span class="icon" style="color:#333;">
                  <i class="fab fa-lg fa-github-alt"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </nav>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <footer class="footer cm-footer">
      <div class="content has-text-centered">
        <p>
          <strong>Elixir China</strong>
          概念设计，Powered by
          <a href="https://github.com/phoenixframework/phoenix_live_view">Phoenix LiveView</a>
        </p>
      </div>
    </footer>
  </body>
</html>
