@import "../base.scss";

// 首页-类别列表
$category-link-color: darken($default-link-color, 5%);
$category-link-hover-color: lighten($default-link-color, 5%);
$category-icon-font-size: 3.5rem;
$note-group-name-color: darken($default-link-color, 5%);

// 分类列表
.cm-home-categories-card {
  .cm-category {
    &-icon {
      font-size: $category-icon-font-size;
    }
    &-link {
      color: $category-link-color;
      font-weight: bold;
      &:hover {
        color: $category-link-hover-color;
      }
    }
  }
}
// 文章列表
.cm-home-articles-card {
  .card-header-title {
    a {
      color: $default-card-header-title-color;
      text-decoration: underline;
    }
  }
}
// 节点列表
.cm-home-notes-card {
  .card-header-title {
    color: $default-card-header-title-color;
  }
  .cm-note-group {
    .column {
      padding: 4px 10px 4px 0;
    }
    &-name {
      color: #a8aaa8;
    }
  }
  .cm-note {
    display: inline-block;
    width: 105px;
    margin-bottom: 10px;
    &-name {
      color: $note-group-name-color;
    }
    &-name:hover {
      text-decoration: underline;
    }
  }
}
