@import "../base.scss";

// 首页-类别列表
$category-link-color: darken($default-link-color, 5%);
$category-link-hover-color: lighten($default-link-color, 5%);
$category-icon-font-size: 3.5rem;
$node-group-name-color: darken($default-link-color, 5%);

// 分类列表
.cm-home-categories-card {
  .cm-category {
    & .card-content {
      padding: 0;
      & > a {
        display: block;
        padding: 1.5rem;
      }
    }
    cursor: pointer;
    &-icon {
      font-size: $category-icon-font-size;
    }
    &-link {
      color: $category-link-color;
      font-weight: bold;
    }
    &:hover {
      background: darken($card-background-color, 2%);
      .card-footer {
        background: darken($card-footer-background-color, 2%);
      }
    }
  }
}
// 文章列表
.cm-home-articles-card {
  .card-header-title {
    a {
      color: $default-card-header-title-color;
      text-decoration: underline;
    }
  }
}
// 节点列表
.cm-home-nodes-card {
  .card-header-title {
    color: $default-card-header-title-color;
  }
  .cm-node-group {
    .column {
      padding: 4px 10px 4px 0;
    }
    &-name {
      color: #a8aaa8;
    }
  }
  .cm-node {
    display: inline-block;
    width: 105px;
    margin-bottom: 10px;
    &-name {
      color: $node-group-name-color;
    }
    &-name:hover {
      text-decoration: underline;
    }
  }
}
//热门城市
.cm-hot-cities {
  .card-header-title {
    color: $default-card-header-title-color;
  }
  .card-content > span {
    margin: auto 1rem;
    & > a {
      color: $default-link-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
