@import "../base.scss";

.cm-node-selector.dropdown {
  .button {
    border-width: 0;
    &:focus {
      outline: 0;
    }
    &:hover {
      border-width: 0;
    }
  }
  a.dropdown-item {
    &.is-active {
      color: #fff;
    }
    border-bottom-width: 0;
    margin-bottom: 0;
  }
}
