@import "../base.scss";

.cm-page-user {
  &-face {
    width: 150px;
    height: 150px;
  }
  &-info {
    &-items > div {
      font-size: 0.9rem;
      margin: 1rem auto;
      & > span:first-child {
        margin-right: 0.5rem;
      }
    }

    &-business {
      .divide {
        color: hsl(0, 0%, 48%);
        user-select: none;
      }
    }
  }
  &-activities {
    &-date {
      color: lighten($default-link-color, 35%)
    }
    &-content {
      margin-top: 1rem;
      color: lighten($default-link-color, 10%)
    }
    a {
      color: darken($default-link-color, 20%);
      &:hover {
        text-decoration: underline;
      }
    }
    blockquote {
      padding: 1rem;
      margin: 1rem 0 0 0;
    }
  }
}
