@import "../base.scss";

.cm-page-user {
  &-face {
    width: 150px;
    height: 150px;
  }
  &-info {
    &-items > div {
      font-size: 0.9rem;
      margin: 1rem auto;
      & > span:first-child {
        margin-right: 0.5rem;
      }
    }

    &-business {
      .divide {
        color: hsl(0, 0%, 48%);
        user-select: none;
      }
    }
  }
  &-created {
    & > div {
      padding: 0.5rem 0;
      border-bottom: 1px solid lighten($default-shadow-color, 5%);
    }
    &-header {
      color: lighten($default-link-color, 35%);
    }
    &-title {
      font-weight: bold;
      font-size: 1.1rem;
      a {
        color: darken($default-link-color, 20%);
        &:hover {
          text-decoration: underline;
        }
      }
      margin: 1rem 0;
    }
    &-content {
      margin-top: 1rem;
    }
  }
}
