<div class="container cm-page-contribute" phx-hook="AboutPage" cm-title="关于">
  <div class="section">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">关于社区</p>
      </div>
      <div class="card-content">
        <div class="content">
          <%= raw @content%>
        </div>
      </div>
    </div>
  </div>
</div>
