<section>
  <%= Phoenix.LiveView.live_render(@conn, CommunityWeb.TimeLive, session: %{id: 0}) %>
</section>

<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed or maintainability.</p>
</section>
